body, .site-content-contain {
  background: #f6f6f6;
}
h1, h2, h3, h4, h5, h6 {
  clear: both;
  margin: 0 0 .75em;
  padding: 1.5em 0 0;
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  color: #234792;
}
.site-header .navigation-top {
  position: absolute;
  top: 0;
  bottom: auto;
  z-index: 3;
  width: 100%;
}
.site-header .site-navigation-fixed.navigation-top {
  position: fixed;
}
.site-header .menu-scroll-down {
  display: none;
}
.site-header .menu-toggle {

}
.has-header-image .custom-header-media, .has-header-video .custom-header-media {
  max-height: 400px !important;
}
.site-footer .widget-column.footer-widget-2 {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.footer-widget-2 section {
  width: 33.333%;
  padding: 0 30px;
}
.wcorg-organizer .avatar {
    display: inline-block;
    float: left;
    margin-right: 15px;
    margin-bottom: 15px;
    border-radius: 10px;
}
