body, .site-content-contain, .site-header {
  background: #f6f6f6;
}
h1, h2, h3, h4, h5, h6 {
  clear: both;
  margin: 0 0 .75em;
  padding: 1.5em 0 0;
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  color: #234792;
}
.site-header .navigation-top {
  position: absolute;
  top: 0;
  bottom: auto;
  z-index: 3;
  width: 100%;
}
.site-header .site-navigation-fixed.navigation-top {
  position: fixed;
}
.site-header .menu-scroll-down {
  display: none;
}
.site-header .menu-toggle {

}
.has-header-image .custom-header-media, .has-header-video .custom-header-media {
  height: 50vh !important;
  max-height: 500px !important;
  min-height: 400px;
  background: url(https://2019.denver.wordcamp.org/files/2019/03/hero-image.jpg);
  background-size: cover;
  background-position: center;
}
.site-header .wp-custom-header {
  display: none;
}

.page .custom-header {
  margin-bottom: 0 !important;
}
.page .site-branding {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  margin: 72px 0 0;
  align-items: center;
}


.site-footer .widget-column.footer-widget-2 {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.footer-widget-2 section {
  width: 33.333%;
  padding: 0 30px;
}
.wcorg-organizer .avatar {
    display: inline-block;
    float: left;
    margin-right: 15px;
    margin-bottom: 15px;
    border-radius: 10px;
}
